.systeme-de-vote,
.systeme-de-vote * {
  box-sizing: border-box;
}
.systeme-de-vote {
  background: #ffffff;
  height: 141.625rem;
  position: relative;
  overflow: hidden;
}
.frame-22 {
  padding: 1.6875rem 1rem 1.6875rem 1rem;
  width: 54rem;
  height: 10rem;
  position: absolute;
  left: 6.4375rem;
  top: 25.8125rem;
  box-shadow: 0rem 0.25rem 0.25rem 0rem rgba(0, 0, 0, 0.25);
}
.voter-pour-votre-repr-sentant {
  color: #522504;
  text-align: center;
  font-family: "Audiowide-Regular", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  position: absolute;
  left: 1.03125rem;
  top: 1.6875rem;
}
.frame-58 {
  background: #fee9e7;
  border-radius: 0.75rem;
  padding: 0.625rem;
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 1.1875rem;
  top: 6.5625rem;
}
.election-2024-2025-en-cours-jusqu-au-15-03-2025 {
  color: #000000;
  text-align: center;
  font-family: "RobotoMono-Regular", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  position: relative;
}
.frame-62 {
  padding: 1.6875rem 1rem 1.6875rem 1rem;
  width: 94.25rem;
  height: 10rem;
  position: absolute;
  left: 0.0625rem;
  top: 68.6875rem;
  box-shadow: 0rem 0.25rem 0.25rem 0rem rgba(0, 0, 0, 0.25);
}
.frame-69 {
  padding: 0.625rem;
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 1.0625rem;
}
.r-sultat-en-temps-r-el {
  color: #522504;
  text-align: center;
  font-family: "Aclonica-Regular", sans-serif;
  font-size: 4rem;
  font-weight: 400;
  position: relative;
}
.frame-582 {
  background: #fee9e7;
  border-radius: 0.75rem;
  padding: 0.625rem;
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 8.0625rem;
  top: 6.5625rem;
}
.total-des-votes-256 {
  color: #000000;
  text-align: center;
  font-family: "-", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  position: relative;
}
.total-des-votes-256-span {
  color: #000000;
  font-family: "RobotoMono-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.total-des-votes-256-span2 {
  color: #000000;
  font-family: "RobotoMono-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.frame-66 {
  background: rgba(245, 245, 245, 0.5);
  width: 94.3125rem;
  height: 30.125rem;
  position: absolute;
  left: calc(50% - 47.25rem);
  top: 35.75rem;
}
.group-4 {
  position: absolute;
  inset: 0;
}
.frame-57 {
  width: 73.75rem;
  height: 24.625rem;
  position: absolute;
  left: 10.25rem;
  top: 2.75rem;
  overflow: hidden;
}
.card-candidat {
  background: #d9d9d9;
  border-radius: 1rem;
  border-style: solid;
  border-color: #666666;
  border-width: 0.0625rem;
  width: 73.75rem;
  height: 24.5625rem;
  position: absolute;
  left: 0rem;
  top: 0.0625rem;
}
.frame-38 {
  background: #ab775b;
  border-radius: 0.625rem;
  width: 25.6875rem;
  height: 15.375rem;
  position: absolute;
  left: -0.03125rem;
  top: 0.00375rem;
  overflow: hidden;
}
.frame-23 {
  background: #d9d9d9;
  border-radius: 0.625rem;
  border-style: solid;
  border-color: #666666;
  border-width: 0.0625rem;
  padding: 0rem 0.25rem 0rem 0.25rem;
  width: 10.25rem;
  height: 9.1875rem;
  position: absolute;
  left: 0.75rem;
  top: 1.125rem;
  overflow: hidden;
}
.frame-24 {
  padding: 0rem 0.25rem 0rem 0.25rem;
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 2.1875rem;
  top: 3.71875rem;
  overflow: hidden;
}
.logo-liste {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 1.25rem;
  line-height: 140%;
  font-weight: 400;
  position: relative;
}
.frame-25 {
  background: #d9d9d9;
  border-radius: 0.625rem;
  border-style: solid;
  border-color: #666666;
  border-width: 0.0625rem;
  padding: 0rem 0.25rem 0rem 0.25rem;
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;
  height: 2.25rem;
  position: absolute;
  left: 13.3125rem;
  top: 1.25rem;
  overflow: hidden;
}
.nom-de-la-liste {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 1.25rem;
  line-height: 140%;
  font-weight: 500;
  position: relative;
  width: 10.75rem;
}
.frame-39 {
  display: flex;
  flex-direction: column;
  gap: 0.6875rem;
  align-items: center;
  justify-content: flex-start;
  width: 10.75rem;
  position: absolute;
  left: 13.5625rem;
  top: 1.5rem;
}
.frame-40 {
  align-self: stretch;
  flex-shrink: 0;
  height: 9rem;
  position: relative;
}
.pictogrammers-material-vote-512-1 {
  width: 6.5625rem;
  height: 6.5625rem;
  position: absolute;
  left: 50%;
  translate: -50%;
  bottom: 0rem;
  object-fit: cover;
  aspect-ratio: 1;
}
.frame-56 {
  padding: 0rem 0.625rem 0rem 0.625rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  align-items: flex-start;
  justify-content: flex-start;
  width: 10.0625rem;
  height: 3.125rem;
  position: absolute;
  left: calc(50% - 9.1875rem);
  top: 13.875rem;
}
.frame-622 {
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 50%;
  translate: -50%;
  bottom: 1.25rem;
}
.frame-37 {
  padding: 0.625rem 4.75rem 0.625rem 4.75rem;
  flex-shrink: 0;
  width: 17.625rem;
  height: 4rem;
  position: relative;
}
.button {
  background: #ab775b;
  border-radius: var(--var-sds-size-radius-200, 0.5rem);
  border-style: solid;
  border-color: var(--var-sds-color-border-warning-default, #522504);
  border-width: 0.0625rem;
  padding: var(--var-sds-size-space-300, 0.75rem);
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-200, 0.5rem);
  align-items: center;
  justify-content: center;
  width: 14.0625rem;
  height: 2.75rem;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 0.625rem;
  box-shadow: 0rem 0.25rem 0.25rem 0rem rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.button2 {
  color: var(--var-sds-color-text-brand-on-brand, #f5f5f5);
  text-align: center;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Bold",
    sans-serif
  );
  font-size: 1.25rem;
  line-height: 100%;
  font-weight: 700;
  position: relative;
}
.check-square {
  flex-shrink: 0;
  width: 1rem;
  height: 1rem;
  position: relative;
  overflow: visible;
}
.frame-60 {
  padding: 0.625rem;
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.attention-votre-vote-est-definitif-et-ne-poura-pas-tre-modifi {
  color: #000000;
  text-align: center;
  font-family: "-", sans-serif;
  font-size: 1rem;
  line-height: 100%;
  font-weight: 400;
  position: relative;
}
.attention-votre-vote-est-definitif-et-ne-poura-pas-tre-modifi-span {
  color: #000000;
  font-family: "RobotoMono-Bold", sans-serif;
  font-size: 16px;
  line-height: 100%;
  font-weight: 700;
}
.attention-votre-vote-est-definitif-et-ne-poura-pas-tre-modifi-span2 {
  color: #000000;
  font-family: "RobotoMono-Medium", sans-serif;
  font-size: 16px;
  line-height: 100%;
  font-weight: 500;
}
.attention-votre-vote-est-definitif-et-ne-poura-pas-tre-modifi-span3 {
  color: #000000;
  font-family: "RobotoMono-Italic", sans-serif;
  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
  font-style: italic;
}
.frame-61 {
  width: 48.0625rem;
  height: 15.1875rem;
  position: absolute;
  left: 35.9375rem;
  top: 2.875rem;
  overflow: hidden;
}
.frame-63 {
  background: #ffffff;
  border-radius: 6.25rem;
  width: 45.6875rem;
  height: 9.25rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  translate: 0 -50%;
}
.rectangle {
  background: #ab775b;
  border-radius: 6.25rem;
  width: 21.375rem;
  height: 9.25rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
}
.frame-64 {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 13.9375rem;
  top: 50%;
  translate: 0 -50%;
}
._42-108-votes {
  color: #000000;
  text-align: left;
  font-family: "RobotoMono-Bold", sans-serif;
  font-size: 2.25rem;
  line-height: 100%;
  font-weight: 700;
  position: relative;
  width: 21.5rem;
  height: 2.625rem;
}
.frame-583 {
  background: #fef1e7;
  border-radius: 0.75rem;
  padding: 0.625rem;
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 1.1875rem;
  top: 6.5625rem;
}
.election-2024-2025-en-cours-jusqu-au-15-03-20252 {
  color: #000000;
  text-align: center;
  font-family: "-", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  position: relative;
}
.election-2024-2025-en-cours-jusqu-au-15-03-20252-span {
  color: #000000;
  font-family: "RobotoMono-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.election-2024-2025-en-cours-jusqu-au-15-03-20252-span2 {
  color: #000000;
  font-family: "RobotoMono-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.election-2024-2025-en-cours-jusqu-au-15-03-20252-span3 {
  color: #000000;
  font-family: "RobotoMono-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.election-2024-2025-en-cours-jusqu-au-15-03-20252-span4 {
  color: #000000;
  font-family: "RobotoMono-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.frame-68 {
  background: rgba(227, 227, 227, 0.5);
  padding: 0.625rem;
  width: 94.4375rem;
  height: 45rem;
  position: absolute;
  left: 0.0625rem;
  top: 78.6875rem;
}
.frame-67 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 73.75rem;
  height: 39.6875rem;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
}
.frame-65 {
  align-self: stretch;
  flex-shrink: 0;
  height: 11.6875rem;
  position: relative;
  overflow: hidden;
}
.card-candidat2 {
  background: #d9d9d9;
  border-radius: 1rem;
  border-style: solid;
  border-color: #666666;
  border-width: 0.0625rem;
  width: 73.75rem;
  height: 11.625rem;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
}
.frame-382 {
  background: #ab775b;
  border-radius: 0.625rem;
  width: 25.6875rem;
  height: 11.625rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
  overflow: hidden;
}
.frame-612 {
  width: 48.0625rem;
  height: 6.075rem;
  position: absolute;
  left: 25.6875rem;
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.frame-632 {
  background: #ffffff;
  border-radius: 6.25rem;
  width: 44.625rem;
  height: 4.625rem;
  position: absolute;
  right: 1.0625rem;
  top: 50%;
  translate: 0 -50%;
}
.rectangle2 {
  background: #ab775b;
  border-radius: 6.25rem;
  width: 19.1875rem;
  height: 4.625rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
}
.frame-633 {
  align-self: stretch;
  flex-shrink: 0;
  height: 11.6875rem;
  position: relative;
  overflow: hidden;
}
.rectangle3 {
  background: #ab775b;
  border-radius: 6.25rem;
  width: 15.125rem;
  height: 4.625rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
}
._28-72-votes {
  color: #000000;
  text-align: left;
  font-family: "RobotoMono-Bold", sans-serif;
  font-size: 2.25rem;
  line-height: 100%;
  font-weight: 700;
  position: relative;
  width: 21.5rem;
  height: 2.625rem;
}
.frame-642 {
  align-self: stretch;
  flex-shrink: 0;
  height: 11.6875rem;
  position: relative;
  overflow: hidden;
}
.rectangle4 {
  background: #ab775b;
  border-radius: 6.25rem;
  width: 17.3125rem;
  height: 4.625rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
}
._38-76-votes {
  color: #000000;
  text-align: left;
  font-family: "RobotoMono-Bold", sans-serif;
  font-size: 2.25rem;
  line-height: 100%;
  font-weight: 700;
  position: relative;
  width: 21.5rem;
  height: 2.625rem;
}
.header-principal {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  align-items: flex-start;
  justify-content: flex-start;
  width: 94.4375rem;
  position: absolute;
  left: 0.0625rem;
  top: 0rem;
}
.navbar {
  background: #f0e0cd;
  border-style: solid;
  border-color: #522504;
  border-width: 0.1875rem;
  align-self: stretch;
  flex-shrink: 0;
  height: 8.3125rem;
  position: relative;
  overflow: hidden;
}
.frugb-vote {
  border-radius: 1.875rem;
  padding: 0rem 1.1875rem 0rem 1.1875rem;
  width: 12.5rem;
  height: 4.4375rem;
  position: absolute;
  left: 1.9375rem;
  top: 1.9375rem;
  overflow: hidden;
}
.ugb-vote-1 {
  width: 12.5rem;
  height: 5.875rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
  object-fit: cover;
}
.liens {
  display: flex;
  flex-direction: row;
  gap: 6.25rem;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  right: 22.1875rem;
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.frame-4 {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.elections {
  color: #000000;
  text-align: left;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 1.0547949075698853rem;
  font-weight: 600;
  position: relative;
}
.frame-5 {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.resultats {
  color: #000000;
  text-align: left;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 1.0547949075698853rem;
  font-weight: 600;
  position: relative;
}
.frame-3 {
  flex-shrink: 0;
  width: 3.5625rem;
  height: 1.25rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
}
.frame-91 {
  width: 4.25rem;
  height: 3.9375rem;
  position: absolute;
  left: 89.75rem;
  top: 2.5rem;
  overflow: hidden;
}
.election {
  flex-shrink: 0;
  width: 91.984375rem;
  height: 11.9025rem;
  position: static;
}
.group-1 {
  width: 91.984375rem;
  height: 11.84rem;
  position: static;
}
.frame-7 {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  align-items: flex-start;
  justify-content: flex-start;
  width: 97.4%;
  height: 58.21%;
  position: absolute;
  right: 2.6%;
  left: 0%;
  bottom: 0%;
  top: 41.79%;
}
.frame-8 {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.design-sans-titre-1 {
  border-radius: 0rem 0rem 1rem 1rem;
  flex-shrink: 0;
  width: 85.25rem;
  height: 11.84rem;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  object-fit: cover;
  aspect-ratio: 1364/189.44;
}
.text {
  padding: 0.9375rem 1.1875rem 0.9375rem 1.1875rem;
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;
  width: 73.48%;
  height: 56.23%;
  position: absolute;
  right: 12.99%;
  left: 13.53%;
  bottom: 2.29%;
  top: 41.48%;
  overflow: hidden;
}
.election-du-repr-sentant-des-tudiants {
  color: #522504;
  text-align: center;
  font-family: "Audiowide-Regular", sans-serif;
  font-size: 4rem;
  font-weight: var(--var-sds-typography-weight-bold, 400);
  position: relative;
  width: 66.6875rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pseudo {
  flex-shrink: 0;
  width: 14.0625rem;
  height: 4.25rem;
  position: absolute;
  left: 77.8125rem;
  top: 2rem;
}
.frame-36 {
  padding: 0.625rem;
  width: 9.875rem;
  height: 4.25rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
}
.avatar-block {
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-300, 0.75rem);
  align-items: flex-start;
  justify-content: flex-start;
  width: 8.625rem;
  height: 3rem;
  position: absolute;
  right: 0rem;
  top: 50%;
  translate: 0 -50%;
}
.avatar {
  background: #522504;
  border-radius: var(--var-sds-size-radius-full, 624.9375rem);
  flex-shrink: 0;
  width: var(--var-sds-size-icon-large, 2.5rem);
  height: var(--var-sds-size-icon-large, 2.5rem);
  position: relative;
  overflow: hidden;
}
.initials {
  color: var(--var-sds-color-text-brand-on-brand, #f5f5f5);
  text-align: center;
  font-family: var(--subheading-font-family, "Inter-Regular", sans-serif);
  font-size: var(--subheading-font-size, 1.25rem);
  line-height: var(--subheading-line-height, 120%);
  font-weight: var(--subheading-font-weight, 400);
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.title {
  color: var(--var-sds-color-text-default-secondary, #757575);
  text-align: left;
  font-family: var(--body-strong-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--body-strong-font-size, 1rem);
  line-height: var(--body-strong-line-height, 140%);
  font-weight: var(--body-strong-font-weight, 600);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.description {
  color: var(--var-sds-color-text-default-tertiary, #b3b3b3);
  text-align: left;
  font-family: var(--body-base-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-base-font-size, 1rem);
  line-height: var(--body-base-line-height, 140%);
  font-weight: var(--body-base-font-weight, 400);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-93 {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 11.0625rem;
  top: 50%;
  translate: 0 -50%;
}
.log-out {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
  overflow: visible;
}
.footer {
  padding: 1.4375rem 1.3125rem 1.4375rem 1.3125rem;
  width: 94.5rem;
  height: 8.6875rem;
  position: absolute;
  left: 0rem;
  bottom: 0rem;
}
.footer2 {
  background: var(--var-sds-color-background-default-tertiary, #d9d9d9);
  border-style: solid;
  border-color: var(--var-sds-color-border-default-default, #d9d9d9);
  border-width: 0.0625rem 0rem 0rem 0rem;
  padding: var(--var-sds-size-space-800, 2rem)
    var(--var-sds-size-space-800, 2rem) var(--var-sds-size-space-4000, 10rem)
    var(--var-sds-size-space-800, 2rem);
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-400, 1rem);
  row-gap: 1rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 94.5rem;
  height: 8.6875rem;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 0rem;
  overflow: hidden;
}
.title2 {
  display: flex;
  flex-direction: column;
  gap: var(--var-sds-size-space-600, 1.5rem);
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 16.375rem;
  min-width: 15rem;
  position: relative;
}
.figma {
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.button-list {
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-400, 1rem);
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.x-logo {
  flex-shrink: 0;
  width: 1.49875rem;
  height: 1.5rem;
  position: relative;
  overflow: visible;
}
.logo-instagram {
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  overflow: visible;
}
.logo-you-tube {
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  overflow: visible;
}
.linked-in {
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  overflow: visible;
}
.frugb-vote2 {
  border-radius: 1.875rem;
  padding: 0rem 1.1875rem 0rem 1.1875rem;
  width: 9.375rem;
  height: 3.3125rem;
  position: absolute;
  left: 1.5rem;
  top: 1.375rem;
  overflow: hidden;
}
.ugb-vote-12 {
  width: 9.375rem;
  height: 4.4375rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
  object-fit: cover;
}
.frame-20 {
  padding: 0.625rem;
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;
  width: 12.02375rem;
  height: 2.75rem;
  position: absolute;
  left: 37.25rem;
  top: 2.96875rem;
}
._2025-ugb-vote {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 1.25rem;
  line-height: 140%;
  font-weight: 400;
  position: relative;
}
.frame-19 {
  padding: 0.625rem;
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;
  width: 17.353125rem;
  height: 5.875rem;
  position: absolute;
  left: 75.83625rem;
  top: 1.40625rem;
}
.lien-utiles-www-ugb-sn-portail-ugbnumerique-sn {
  color: #000000;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 1.25rem;
  line-height: 140%;
  font-weight: 400;
  position: relative;
}
.lien-utiles-www-ugb-sn-portail-ugbnumerique-sn-span {
  color: #000000;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 140%;
  font-weight: 700;
}
.lien-utiles-www-ugb-sn-portail-ugbnumerique-sn-span2 {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 140%;
  font-weight: 400;
}
