.footer,
.footer * {
  box-sizing: border-box;
}
.footer {
  background: #d9d9d9;
  padding: 1.1875rem 1.3125rem 1.1875rem 1.3125rem;
  display: flex;
  flex-direction: row;
  gap: 26.25rem;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
}
.logo-footer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 9.375rem;
  position: relative;
}
.logo {
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 3.3125rem;
  position: relative;
}
.frugb-vote {
  border-radius: 1.875rem;
  padding: 0rem 1.1875rem 0rem 1.1875rem;
  flex-shrink: 0;
  width: 9.375rem;
  height: 3.3125rem;
  position: relative;
  overflow: hidden;
}
.ugb-vote-1 {
  width: 9.375rem;
  height: 4.4375rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
  object-fit: cover;
}
.button-list {
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-400, 1rem);
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 1.5rem;
  position: relative;
}
.x-logo {
  flex-shrink: 0;
  width: 1.49875rem;
  height: 1.5rem;
  position: relative;
  overflow: visible;
}
.logo-instagram {
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  overflow: visible;
}
.logo-you-tube {
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  overflow: visible;
}
.linked-in {
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  overflow: visible;
}
.copyritgh {
  padding: 0.625rem;
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 12.02375rem;
  height: 2.75rem;
  position: relative;
}
._2025-ugb-vote {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 1.25rem;
  line-height: 140%;
  font-weight: 400;
  position: relative;
}
.lienutiles {
  padding: 0.625rem;
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 17.353125rem;
  height: 5.875rem;
  position: relative;
}
.lien-utiles-www-ugb-sn-portail-ugbnumerique-sn {
  color: #000000;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 1.25rem;
  line-height: 140%;
  font-weight: 400;
  position: relative;
}
.lien-utiles-www-ugb-sn-portail-ugbnumerique-sn-span {
  color: #000000;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 140%;
  font-weight: 700;
}
.lien-utiles-www-ugb-sn-portail-ugbnumerique-sn-span2 {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 140%;
  font-weight: 400;
}

