.header-principal {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 0;
  top: 0;
}

/* navbar */
.navbar {
  background: #f0e0cd;
  border: 0.1875rem solid #522504;
  height: 133px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
}

/* logo ugb vote */
.frugb-vote {
  border-radius: 1.875rem;
  padding: 0rem 1.1875rem;
  width: 12.5rem;
  height: 4.4375rem;
  margin-left: 2rem;

  /* border-radius: 1.875rem; */
  /* padding: 0rem 1.1875rem 0rem 1.1875rem; */
  /* width: 12.5rem; */
  /* height: 4.4375rem; */
  /* position: absolute; */
  /* left: 1.9375rem; */
  /* top: 1.9375rem; */
  /* overflow: hidden; */
}

.ugb-vote-1 {
  border-radius: 1.875rem;
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* liens sur le navbar */
.navbar-nav {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
}

.liens {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.frame-4, .frame-5 {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;
}

.elections, .resultats {
  color: #000;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 1.05rem;
  font-weight: 600;
}

/* Pseudo */
.pseudo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.avatar-block {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.avatar {
  width: 40px;
  height: 40px;
  background-color: #522504;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: bold;
}

.info {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.title {
  font-size: 0.9rem;
  font-weight: bold;
}

.description {
  font-size: 0.8rem;
  color: gray;
}

.frame-93 img {
  width: 48px;
  cursor: pointer;
}

/* Adaptation responsive */
@media (max-width: 991px) {
  .frugb-vote {
    align-self: flex-start; 
  }
  

  
  .navbar {
    flex-direction: row;
    height: auto;
    padding: 1rem;
  }

  .navbar-nav {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }

  .pseudo {
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
  }

  .frugb-vote {
    margin: 0;
  }

  .liens-speudo{
    padding-top: 16px;
  }

}
