.liste-avoter,
.liste-avoter * {
  box-sizing: border-box;
}
.liste-avoter {
  background: rgba(245, 245, 245, 0.5);
  padding: 2.8125rem 10.1875rem 2.8125rem 10.1875rem;
  height: 28.875rem;
  position: relative;
}
.card-candidat {
  background: #d9d9d9;
  border-radius: 1rem;
  border-style: solid;
  border-color: #666666;
  border-width: 0.0625rem;
  padding: 0rem 0.0625rem 0rem 0.0625rem;
  width: 73.9375rem;
  height: 23.25rem;
  position: absolute;
  left: 10.1875rem;
  top: 2.8125rem;
}
.infos {
  background: #ab775b;
  border-radius: 0.625rem;
  width: 25.6875rem;
  height: 15.375rem;
  position: absolute;
  left: 0.0625rem;
  top: 0rem;
  overflow: hidden;
}
.frame-23 {
  background: #d9d9d9;
  border-radius: 0.625rem;
  border-style: solid;
  border-color: #666666;
  border-width: 0.0625rem;
  padding: 0rem 0.25rem 0rem 0.25rem;
  width: 10.25rem;
  height: 9.1875rem;
  position: absolute;
  left: 0.75rem;
  top: 1.125rem;
  overflow: hidden;
}
.frame-24 {
  padding: 0rem 0.25rem 0rem 0.25rem;
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 2.1875rem;
  top: 3.71875rem;
  overflow: hidden;
}
.logo-liste {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 1.25rem;
  line-height: 140%;
  font-weight: 400;
  position: relative;
}
.frame-25 {
  background: #d9d9d9;
  border-radius: 0.625rem;
  border-style: solid;
  border-color: #666666;
  border-width: 0.0625rem;
  padding: 0rem 0.25rem 0rem 0.25rem;
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;
  height: 2.25rem;
  position: absolute;
  left: 13.3125rem;
  top: 1.25rem;
  overflow: hidden;
}
.nom-de-la-liste {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 1.25rem;
  line-height: 140%;
  font-weight: 500;
  position: relative;
  width: 10.75rem;
}
.frame-39 {
  display: flex;
  flex-direction: column;
  gap: 0.6875rem;
  align-items: center;
  justify-content: flex-start;
  width: 10.75rem;
  position: absolute;
  left: 13.5625rem;
  top: 1.5rem;
}
.frame-40 {
  align-self: stretch;
  flex-shrink: 0;
  height: 9rem;
  position: relative;
}
.pictogrammers-material-vote-512-1 {
  width: 6.5625rem;
  height: 6.5625rem;
  position: absolute;
  left: 50%;
  translate: -50%;
  bottom: 0rem;
  object-fit: cover;
  aspect-ratio: 1;
}
.frame-61 {
  padding: 2.9375rem 1rem 2.9375rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  align-items: flex-start;
  justify-content: flex-start;
  width: 48.0625rem;
  position: absolute;
  left: 25.75rem;
  top: 0rem;
  overflow: hidden;
}
.frame-63 {
  background: #ffffff;
  border-radius: 6.25rem;
  align-self: stretch;
  flex-shrink: 0;
  height: 9.25rem;
  position: relative;
}
.rectangle {
  background: #ab775b;
  border-radius: 6.25rem;
  width: 21.375rem;
  height: 9.25rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
}
.frame-64 {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 13.9375rem;
  top: 50%;
  translate: 0 -50%;
}
._42-108-votes {
  color: #000000;
  text-align: left;
  font-family: "RobotoMono-Bold", sans-serif;
  font-size: 2.25rem;
  line-height: 100%;
  font-weight: 700;
  position: relative;
  width: 21.5rem;
  height: 2.625rem;
}
.frame-62 {
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: center;
  justify-content: center;
  width: 73.75rem;
  position: absolute;
  left: 0.0625rem;
  top: 19.25rem;
}
.frame-37 {
  padding: 0.625rem 4.75rem 0.625rem 4.75rem;
  flex-shrink: 0;
  width: 17.625rem;
  height: 4rem;
  position: relative;
}
.button {
  background: #ab775b;
  border-radius: var(--var-sds-size-radius-200, 0.5rem);
  border-style: solid;
  border-color: var(--var-sds-color-border-warning-default, #522504);
  border-width: 0.0625rem;
  padding: var(--var-sds-size-space-300, 0.75rem);
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-200, 0.5rem);
  align-items: center;
  justify-content: center;
  width: 14.0625rem;
  height: 2.75rem;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 0.625rem;
  box-shadow: 0rem 0.25rem 0.25rem 0rem rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.button2 {
  color: var(--var-sds-color-text-brand-on-brand, #f5f5f5);
  text-align: center;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Bold",
    sans-serif
  );
  font-size: 1.25rem;
  line-height: 100%;
  font-weight: 700;
  position: relative;
}
.check-square {
  flex-shrink: 0;
  width: 1rem;
  height: 1rem;
  position: relative;
  overflow: visible;
}
.frame-60 {
  padding: 0.625rem;
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.attention-votre-vote-est-definitif-et-ne-poura-pas-tre-modifi {
  color: #000000;
  text-align: center;
  font-family: "-", sans-serif;
  font-size: 1rem;
  line-height: 100%;
  font-weight: 400;
  position: relative;
}
.attention-votre-vote-est-definitif-et-ne-poura-pas-tre-modifi-span {
  color: #000000;
  font-family: "RobotoMono-Bold", sans-serif;
  font-size: 16px;
  line-height: 100%;
  font-weight: 700;
}
.attention-votre-vote-est-definitif-et-ne-poura-pas-tre-modifi-span2 {
  color: #000000;
  font-family: "RobotoMono-Medium", sans-serif;
  font-size: 16px;
  line-height: 100%;
  font-weight: 500;
}
.attention-votre-vote-est-definitif-et-ne-poura-pas-tre-modifi-span3 {
  color: #000000;
  font-family: "RobotoMono-Italic", sans-serif;
  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
  font-style: italic;
}
